<main>
    <h1>About Me</h1>
    <p>So you have reached my about page .. <strong>WELCOME!</strong></p>
    <p>My name is <strong>Akshay</strong>, and I am a student at Seneca Polytechnic.
    I have created this website and I have given my best to it. I hope that you have a good time exploring it.
    </p>
    <p>Student ID: <strong>190635235</strong></p>
    <p>Program: <strong>Business Information Technology (BTT)</strong></p>
</main>